/* Google maps styling override */

.pac-container, .pac-item {
     background-color: black;
     color: white;
     border: none;
     border-left: 0.3em solid #ffffff00;
}

.pac-matched {
     font-size: 1.25em;
     margin-left: 1em;

}

.pac-icon, .pac-icon-marker {
     display: none;
}

.pac-item {
     cursor: pointer;
     height: 4em;
     line-height: 4em;
}

.pac-item:hover, .pac-item:focus {
     background-color: black;
     border: none;
     border-left: 0.5em solid white;
     z-index: 10;
}
.pac-item:focus { 
     border-left: 0.5em solid white;
}

.pac-item-selected,
.pac-item-selected:hover {
     border: none;
     background-color: black;
     border-left: 0.5em solid white;
}

.pac-item-query {
     color: white;
}

.pac-container:after {
     white-space: pre;
     content: "Powered by                   ";
     font-size: 10px;
     line-height: 17px;
     color: gray !important;
}

.pac-icon, .pac-icon-selected {
     color: white;
}

.pac-icon:hover {
     color: black;
}